<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://s3-us-west-1.amazonaws.com/flack-app/img/flack-logo.png" />
    <title>Flack</title>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
